body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -65px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -40px;
    bottom: -90px;
}
form{
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.signup-form {
  height: 800px;
  padding: 5px 10px;
  top: 60%;
  
}
.signup-form input {
    height: 40px;
}
nav {
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: #84c5f0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 50px rgba(80, 172, 73, 0.6);
  
}
nav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.create-post {
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
}
.post-title 
  
.post-container {
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: black;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .post-container h1 {
    text-align: center;
  }
  
  .post-container label {
    font-size: 25px;
  }
  .post-container .post-body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .post-body input,
  .post-body textarea {
    font-size: 18px;
    border: none;
    border-radius: 2px;
    padding: 5px;
  }
  
  .post-body input {
    height: 40px;
  }
  .post-body textarea {
    height: 150px;
    width: 400px;
  }

  .post-container button {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  input,
  textarea {
    margin-top: 5px;
    background-color: whitesmoke;
  }
  .post-container h1, label{
    color: white;
  }
form input {
    color: #080710;
}

/* homepage */
.home-title {
    padding-top: 30px;
    color:#f2f2f2;
    text-align: center;
}

.glow {
    font-family: 'Lucida Sans';
    color: #FB4264;
    font-size: 8vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    
  }
  .glow {
    animation: glow 1.2s ease infinite;
    -webkit-animation: glow 1.2s ease infinite;
  }
  @keyframes glow {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }

/* FooterPage */
.footer {
background-image: url('../public/assets/images/handsnhearts.jpeg');
background-size: 120px;
height: 10%;
text-align: center;
position: absolute;
bottom: 0;
width:100%;
}
.footer img {
    width: 200px;
    height: 200px;
}