body {
  margin: 0;
  font-family: ainslie-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ainslie-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #080710;
}
.background {
  // width: 430px;
  // height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
// .shape:first-child {
//   background: linear-gradient(#1845ad, #23a2f6);
//   left: -80px;
//   top: -65px;
// }
// .shape:last-child {
//   background: linear-gradient(to right, #ff512f, #f09819);
//   right: -40px;
//   bottom: -90px;
// }
form {
  font-family: ainslie-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: ainslie-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-family: ainslie-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 42px;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 50px;
  font-size: 2vh;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 18px;
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
::placeholder {
  color: #fff;
}
button {
  font-family: ainslie-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 20px;
  width: 100%;
  background-color: #fffb00;
  color: #08070f;
  padding: 10px 0;
  font-size: 20px;

  border-radius: 5px;
  cursor: pointer;
}

button a {
  font-family: ainslie-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 40px;
  width: 100%;
  background-color: #23a2f6;
  color: #fff;
  padding: 10px 0;
  font-size: 20px;

  border-radius: 5px;
  cursor: pointer;
}

.signup-form {
  height: 500px;
}

nav {
  padding-top: 20px;
  padding-right: 20px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  text-transform: uppercase;
  //   backdrop-filter: blur(10px);
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  //   border-radius: 5px;
  //   backdrop-filter: blur(10px);
  //   box-shadow: 0 0 50px rgba(80, 172, 73, 0.6);
}
nav a {
  color: #fff;
  float: right;
  display: block;
  text-align: center;
  padding: 9px 18px;
  text-decoration: none;
  font-size: 17px;
}

.create-post {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}
.post-title .post-container {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}
.post-container h1 {
  text-align: center;
}

.post-container label {
  font-size: 25px;
}
.post-container .post-body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  color: #08070f;
}

.post-body input,
.post-body textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: #08070f;
}

.post-body input {
  height: 40px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: #08070f;
}
.post-body textarea {
  height: 150px;
  width: 325px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: #08070f;
}

.post-container button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
textarea {
  margin-top: 5px;
  background-color: whitesmoke;
  color: #08070f;
}
.post-container h1,
label {
  color: white;
}
form input {
  color: #080710;
}

/* homepage */
.home-title {
  margin-top: -3vh;
}

.hr1 {
  display: block;
  height: 7px;
  border-top: 1.5px solid #ccc;
  border-left: 1.5px solid #ccc;
  border-right: 1.5px solid #ccc;
  border-bottom: 1.5px solid #ccc;
  border-image: linear-gradient(45deg, #800e0b, #ff0000, #800e0b) 1;
  margin: 1em 0;
  padding: 0;
  width: 36vw;
  margin: auto;
}

.hr2 {
  margin-top: -0.75vh;
  display: block;
  height: 7px;
  border-top: 1.5px solid #ccc;
  border-left: 1.5px solid #ccc;
  border-right: 1.5px solid #ccc;
  border-bottom: 1.5px solid #ccc;
  border-image: linear-gradient(45deg, #800e0b, #ff0000) 1;
  width: 10vw;
  margin-left: 30.5vw;
}

.hr3 {
  margin-top: -0.9vh;
  display: block;
  height: 7px;
  border-top: 1.5px solid #ccc;
  border-left: 1.5px solid #ccc;
  border-right: 1.5px solid #ccc;
  border-bottom: 1.5px solid #ccc;
  border-image: linear-gradient(45deg, #ff0000, #800e0b) 1;
  width: 10vw;
  margin-left: 58.5vw;
}

.subtitle1,
.subtitle2,
.subtitle3 {
  margin-top: -1vh;
  font-size: 5vw;
  text-align: center;
  font-family: itc-benguiat, serif;
  font-weight: 700;
  font-style: normal;
  background: -webkit-linear-gradient(
    -86deg,
    #800e0b 5%,
    #ff0000 53%,
    #800e0b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #08070f;
  animation: glow 5s ease-in-out infinite;
  -webkit-animation: glow 8s ease-in-out infinite;
}

.subtitle2 {
  margin-top: -3vh;
}

.subtitle3 {
  font-size: 8vw;
  margin-top: -3.75vh;
  //   animation-delay: 0s;
}

@keyframes glow {
  0%,
  10% {
    background-position: 0 0;
    text-shadow: 0 0 1vw #fa1c16, 0 0 1vw #fa1c16, 0 0 1vw #000, 0 0 1vw #000,
      0 0 0.1vw #800e0b, 0.1vw 0.1vw 0.1vw #800e0b;
    // color: #800e0b;
  }
  20% {
    background-position: 0 0;
    text-shadow: 0 0 0.1vw #800e0b, 0 0 0.1vw #800e0b, 0 0 1vw #800e0b,
      0 0 1vw #800e0b, 0 0 0.1vw #800e0b, 0.1vw 0.1vw 0.1vw #000;
    // color: #800e0b;
  }
}

/* Home Page Post Bubbles Start */

// .bubble-bottom-left:before {
//   content: "";
//   width: 0px;
//   height: 0px;
//   position: absolute;
//   border-left: 24px solid #fff;
//   border-right: 12px solid transparent;
//   border-top: 12px solid #fff;
//   border-bottom: 20px solid transparent;
//   left: 50px;
//   bottom: -24px;
//   transform: none;
// }

// .bubble-bottom-right:before {
//   content: "";
//   width: 0px;
//   height: 0px;
//   position: absolute;
//   border-right: 24px solid #fff;
//   border-left: 12px solid transparent;
//   border-top: 12px solid #fff;
//   border-bottom: 20px solid transparent;
//   left: 215px;
//   bottom: -24px;
// }

.post_title1 {
  font-family: ainslie-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 300px;
  margin-right: 500px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transform: rotate(260deg);
}

.post_title {
  font-family: ainslie-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  width: 250px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.post_title a {
  text-decoration: none;
  color: #23a2f6;
}

.details1 {
  font-family: collector-comic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75vh;
  line-height: 2.25vh;
  padding: 5vh;
  width: 40vh;
  height: 22vh;
  text-align: center;
  color: #010106;
  text-decoration: none;
  margin-left: 10vw;
  margin-top: 1vw;
  background: #fff;
  background-size: 300px 300px;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  filter: drop-shadow(20px 12px 0px #08070f);
}

// .bubble-bottom-left:before {
//   content: "";
//   position: absolute;
//   width: 0px;
//   height: 0px;
//   position: absolute;
//   border-left: 24px solid #fff;
//   border-right: 12px solid transparent;
//   border-top: 12px solid #fff;
//   margin-left: 25vh;
//   top: 70vh;
//   bottom: 45px;
//   transform: rotate(150deg);
// }

.details2 {
  font-family: collector-comic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75vh;
  line-height: 2.25vh;
  padding: 6.95vh;
  width: 50vh;
  height: 38vh;
  text-align: center;
  color: #010106;
  text-decoration: none;
  margin-left: 35vw;
  margin-top: -16vw;
  background: #fff;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  filter: drop-shadow(20px 12px 0px #08070f);
}

.details3 {
  position: relative;
  font-family: collector-comic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75vh;
  line-height: 2.25vh;
  padding: 6.5vh;
  width: 45vh;
  height: 30vh;
  text-align: center;
  color: #010106;
  text-decoration: none;
  margin-left: 65vw;
  margin-top: -23vw;
  background: #fff;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  filter: drop-shadow(20px 12px 0px #08070f);
}

.bubblehr {
  border-style: dotted;
  margin-bottom: 15px;
}

.author {
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  //   text-transform: uppercase;
  text-decoration: none;
  font-size: 1.75vh;
  width: 50vh;
  margin-left: 18vw;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.author a {
  font-weight: 700;
  text-decoration: none;
}

.date {
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  width: 250px;
  margin-bottom: 0px;
  text-align: center;
  color: #000;
}

.post_comments {
  font-size: 25px;
  width: 300px;
  margin-top: 37px;
  //   margin-left: 56px;
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.post_comments a {
  color: inherit;
  text-decoration: none;
}

.post_comments .number {
  font-family: "KomikaTitleRegular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
}

.post_comments .comments {
  font-size: 18px;
  color: #fff;
  background-color: #23a2f6;
}

/* Home Page Post Bubbles End */

/* Home Page Splash Start */

.intro {
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5vw;
  margin-bottom: 10px;
  text-align: center;
  color: #fffb00;
}

.tagline {
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1vw;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #000;
  background-color: #23a2f6;
  width: 58vh;
  margin: auto;
  // z-index: 9999;
}

.sightings {
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1vw;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
}

nav a:hover {
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-size: 17px;
  width: 75px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

nav a:hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

nav a:hover:active {
  color: #000;
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-size: 17px;
}

nav a:hover:active:after {
  background: transparent;
}

nav a:hover:hover:before {
  opacity: 1;
}

nav a:hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.logo {
  margin-top: -20px;
  margin-left: 30px;
}

/* Footer Page Start */
.footer {
  text-align: left;
  position: fixed;
  bottom: -20px;
  width: 100vw;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.35vh;
  z-index: -1;
}
.footer img {
  width: 100vw;
  z-index: -1;
}

.copyright {
  position: fixed;
  margin-left: 10px;
  bottom: 0vw;
  z-index: 1;
  color: #fff;
  background-color: #000;
}
/* Footer Page End */
.single-post {
color: white;
font-size: 26px;
}